<section class="live-lessons-video">
  <div class="video__content">
    <div class="header">
      <img src="https://ponddychinese-resources.s3-us-west-2.amazonaws.com/logos/tutors/TutorsLanding_140x32.svg">
    </div>
    <div mat-dialog-content>
      <iframe class='sproutvideo-player' src='https://videos.sproutvideo.com/embed/069edfb7191fe3c78f/dc73d04a2cbbc7bd?playerTheme=dark&amp;playerColor=' width='630' height='354' frameborder='0' allowfullscreen referrerpolicy='no-referrer-when-downgrade'></iframe>
    </div>
    <div mat-dialog-actions class="close_btn">
      <button mat-button mat-dialog-close class="btn_general-primary text_btn">Close</button>
    </div>
  </div>
</section>
