<section class="choose-ponddy">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="choose-ponddy__title">
          Why should you choose Ponddy?
        </div>
      </div>

      <div class="choose-ponddy__content col-11">
        <div class="pr-56 m-w">
          <div class="img">
            <img [defaultImage]="carouselImageList_small[0]" [lazyLoad]="carouselImageList[0]" alt="First slide">
          </div>
          <div class="small-title">
            Fully Online Engaging Lessons
          </div>
          <div class="description">
            <ul>
              <li>
                Small Group Class
              </li>
              <li>
                Real-time correction and interaction
              </li>
              <li>
                Unique AI language platform
              </li>
            </ul>
          </div>
        </div>

        <div class="pr-56 m-w">
          <div class="img">
            <img [defaultImage]="carouselImageList_small[1]" [lazyLoad]="carouselImageList[1]" alt="First slide">
          </div>
          <div class="small-title">
            Flexible Structure
          </div>
          <div class="description">
            <ul>
              <li>
                Pick your topic
              </li>
              <li>
                Schedule your lesson
              </li>
              <li>
                Start your lesson anywhere
              </li>
            </ul>
          </div>
        </div>

        <div class="m-w">
          <div class="img">
            <img [defaultImage]="carouselImageList_small[2]" [lazyLoad]="carouselImageList[2]" alt="First slide">
          </div>
          <div class="small-title">
            Certified Teachers
          </div>
          <div class="description">
            <ul>
              <li>
                Certificate for Teachers of Chinese to Speakers of Other Languages (CTCSOL)
              </li>
              <li>
                Master in Teaching Chinese to Speakers of Other Languages
              </li>
              <li>
                Experience in teaching Chinese
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
