<section class="live-lessons-popup-email-error">
  <div mat-dialog-content>
    <div class="popup-email-error__close">
      <button mat-button mat-dialog-close>x</button>
    </div>
    <div>

      <div class="popup-email-error__img">
        <div class="popup-email-error__img__size">
          <img src="https://d2zu2xr8ooiuow.cloudfront.net/live-lessons/icon_EmailError.svg">
        </div>
      </div>
      <div class="popup-email-error__title">
        Submission failed
      </div>
      <div class="popup-email-error__description">
        Please try again later, or contact us <a href="mailto:support@ponddy-edu.com">support@ponddy-edu.com</a>
      </div>
    </div>
  </div>
</section>
