<section class="live-lessons-popup-email-ok">
  <div mat-dialog-content>
    <div class="popup-email-ok__close">
      <button mat-button mat-dialog-close (click)="onClose()">x</button>
    </div>
    <div>

      <div class="popup-email-ok__img">
        <div class="popup-email-ok__img__size">
          <img src="https://d2zu2xr8ooiuow.cloudfront.net/live-lessons/icon_EmailOk.svg">
        </div>
      </div>
      <div class="popup-email-ok__title">
        Submitted
      </div>
      <div class="popup-email-ok__description">
        Ponddy will contact you as soon as possible.
      </div>
    </div>
  </div>
</section>
