<section class="effective">
  <div class="container">
    <div class="row justify-content-center">
      <div class="effective__content col-12 col-md-12">
        <div class="title">
          Learn Chinese Fun and Effective !
        </div>
        <div class="description">
          Ponddy offers Smart learning approach for all-level learners combining high-quality certified Chinese teachers with a powerful AI language platform.
        </div>
        <div class="btn_general-secondary text_btn" (click)="openDialog()">
          <a>Enroll Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
