.thematic {
  background: linear-gradient(to top right, #F3F9F7 50%, #E8F7F2 50%);
  padding: 59px 0 115px 0;
  position: relative;
  z-index: 1;

  @media (max-width: 991px) {
    padding: 60px 0;
  }
  &__content {
    .title {
      font-weight: bold;
      font-size: 36px;
      line-height: 84px;
      text-align: center;
      letter-spacing: 1px;
      color: #2D3942;
      letter-spacing: 1px;
      @media (max-width: 991px) {
        font-size: 30px;
        line-height: 44px;
        padding-bottom: 16px;
      }
    }

    .small-title {
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 1px;
      color: #26B586;

      @media (max-width: 991px) {
      }
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    padding-top: 88px;

    @media (max-width: 991px) {
      padding-top: 69px;
    }

    .pl-32 {
      padding-left: 32px;
    }

    .carousel-cell {
      border-radius: 16px;
    }

    .item {
      box-shadow: 0px 0px 28px #CCDFD9;
      border-radius: 16px;
      max-width: 288px;
      padding: 36px 20px 0 30px;
      min-height: 430px;
      background-color: white;

      @media (max-width: 991px) {
        max-width: 364px;
        min-height: 330px;
      }
    }

    .top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 27px;

      .icon {
        padding-right: 40px;
      }

      .lvl {
        width: 77px;
        max-height: 35px;
        text-align: center;
        background: #F3A024;
        border-radius: 24px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 36px;
      }
    }

    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: #3B9FBE;

      @media (max-width: 991px) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    .description {
      font-weight: normal;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 0.5px;
      color: #969CA0;

      @media (max-width: 991px) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .pr-16 {
      margin-right: 16px;

      @media (max-width: 991px) {
        margin-right: 0;
      }
    }
  }
}
