<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-12">
        <h2>Learning Chinese with</h2>
        <h1>Ponddy Education</h1>
      </div>
    </div>
    <div class="row justify-content-center align-self-center no-gutters text-left">
      <div class="col-md-3 m-w col-9 mr-2 ml-2">
        <div>
          <p class="title">About Ponddy</p>
          <a href="https://chinese.ponddy.com/" target="_blank">Ponddy Education</a><br>
          <a href="https://chinese.ponddy.com/career/" target="_blank">Career</a><br>
          <a href="https://blog.ponddy.com/" target="_blank">Blog</a><br>
        </div>
      </div>

      <div class="col-md-3 m-w col-9 mr-2 ml-2">
        <div>
          <p class="title">Follow Us</p>
          <a class="mb-3" target="black" href='https://www.instagram.com/accounts/login/?next=/ponddyeducation/'>
            Instagram</a><br>
          <a class="mb-3" target="black" href='https://www.facebook.com/ponddyeducation/'>
            Facebook</a><br>
          <a class="mb-3" target="black" href='https://www.youtube.com/channel/UCX8GMbAnPXbenlJEgSU_vTQ'>
            Youtube</a>
        </div>
      </div>

      <div class="col-md-3 m-w col-9 ml-2">
        <div>
          <p class="title">Contact Us</p>
          <a href="tel:408-800-7798">408-800-7798<br> </a>
          <a href="mailto:support@ponddy-edu.com">support@ponddy-edu.com</a><br>
          <a href="https://www.google.com.tw/maps/place/1550+The+Alameda+UNIT+310,+San+Jose,+CA+95126%E7%BE%8E%E5%9C%8B/@37.3352893,-121.9175913,17z/data=!3m1!4b1!4m5!3m4!1s0x808fcb68dd15443f:0x6e194cf29df0a30a!8m2!3d37.3352893!4d-121.9154026" target="_blank">1550 The Alameda, Ste 310 San Jose, CA 95126</a>
        </div>
      </div>
    </div>
    <div class="copyright pt-3">
      <div class="description">
        <div>
          <a href="https://s3-us-west-1.amazonaws.com/ponddyreader-master/legal_documents/terms.html" target="_blank">Terms</a>
          <span> | </span>
          <a href="https://tutors-resources.s3-us-west-2.amazonaws.com/legal_documents/privacy_1.html" target="_blank">Privacy</a>
          <span *ngIf="web"> |&nbsp;</span>
        </div>
        <div>
          <a href="https://tutors-resources.s3-us-west-2.amazonaws.com/legal_documents/copyright+(1).html"
            target="_blank">Copyright © Ponddy Education Inc.</a> <span *ngIf="web">&nbsp;|&nbsp;</span>
        </div>
        <div>
           All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
